*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background: rgba(96, 96, 96, 0.462);
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 1.10rem;
    margin-top: 1.4em;
}   

.question-text {
    margin: 1.10em 0;
}

.answer-element,
.btn {
 
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 1px black; 
    box-shadow: 0px 0px 15px 1px black;
}

.answer-element {
    color: #DF835E;
    background: whitesmoke;
    padding: 0.75em;
    border-radius: 8px;
    font-size: 0.75rem;
    margin-bottom: 1.25em;
    text-align: center; 
}

.chosen-answer-element {
    background: #DF835E;
    color: whitesmoke;
}

.correct-answer {
    background: #457e43;
}

.wrong-answer {
    background: #ef7575;
    color: whitesmoke;
}

.btn {
    padding: 0.75em;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 1em;
    background: #DF835E;
    color: whitesmoke;
    border: none;
  
}

.start-btn {
    margin: 0 auto;
    margin-top: 50vh;
    width: 50%;
}

.game-btn {
    width: 100%;
    margin-top: 1em;
}

.btn:hover,
.answer-element:hover,
.btn:focus,
.answer-element:focus {
    cursor: pointer
}

.btn:hover
 {
    background: #000000;
    color: white;
}

@media (min-width: 600px) {

    .question-text {
        margin: 0.75em 0;
        font-size: 1.30rem;

    }

    .question-answers {
        display: flex;
        justify-content: space-between;
    }

    .answer-element {
        width: 20%;
        font-size: 1rem;
        margin-bottom: 0.75em;
      
    }

    .btn {
        font-size: 1.25rem;

    }

    .game-btn {
        margin: 0 auto;
        width: 40%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .start-btn {
        width: 25%;
    }
}